.title-container {
  text-align: center;
  padding: 2em 2em 0.5em 2em; 
}

h1 {
  font-size: 2.5rem; 
}


@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  .title-container {
    padding: 1.5em 1.5em 0.5em 1.5em; 
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }
  .title-container {
    padding: 1em 1em 0.5em 1em; 
  }
}

.components-container {
  display: grid;
  grid-template-columns: 1fr; /* Ahora solo una columna principal */
  gap: 1rem;
  padding: 0.5em 1em 1em 1em;
  max-width: 80%;
  margin: 0 auto;
}

.form-and-graficos-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas para formulario y gráficos */
  gap: 1rem;
}

app-resultados {
  grid-column: 1 / -1;
}

 @media (max-width: 768px) {
  .components-container {
    grid-template-columns: 1fr;
  }

  .form-and-graficos-container {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
  }
}